In [1]:
import numpy as np
import pandas as pd
import torch

aa2codon_dict = {'F': 'TTT',
'L': 'TTA',
'I': 'ATT',
'M': 'ATG',
'V': 'GTG',
'H': 'CAT',
'Q': 'CAG',
'W': 'TGG',
'S': 'AGC',
'P': 'CCG',
'T': 'ACC',
'Y': 'TAT',
'N': 'AAC',
'K': 'AAA',
'D': 'GAT',
'E': 'GAA',
'R': 'CGT',
'G': 'GGC',
'C': 'TGC',
'A': 'GCC',
}

parent_seq = 'ATGGCGGTTCCCGGCTACGATTTTGGCAAAGTCCCGGATGCCCCAATCTCAGACGCGGATTTTGAGAGTTTAAAAAAAACCGTGATGTGGGGTGAGGAAGATGAGAAATATCGCAAAATGGCTTGCGAAGCCTTAAAGGGTCAAGTAGAAGATATTTTAGATTTGTGGTACGGCCTGCAGGGAAGCAATCAACACCTTATCTACTACTTCGGTGATAAGAGTGGTCGTCCAATTCCGCAATACCTGGAAGCGGTCCGCAAGCGTTTCGGGTTGTGGATCATTGATACATTGTGTAAGCCACTGGACCGCCAGTGGTTGAATTACATGTACGAAATTGGCCTTCGCCATCACCGTACCAAGAAAGGGAAGACAGATGGCGTAGATACTGTTGAACATATCCCATTACGCTACATGATTGCTTTCATCGCTCCCATCGGTCTGACTATTAAGCCGATCTTGGAAAAATCGGGACATCCGCCAGAGGCCGTGGAGCGTATGTGGGCAGCATGGGTTAAGTTGGTGGTGTTACAGGTAGCTATCTGGTCGTACCCCTATGCAAAGACGGGCGAATGGCTCGAGCACCACCACCACCACCACTGA'

In [2]:
len(parent_seq)

600

In [5]:
indices = torch.load('/disk1/jyang4/repos/ALDE/results/ParPgb_production/round2/DNN_ENSEMBLE-DO-0-RBF-TS-[30, 1]_2indices.pt').numpy().astype(int)
indices[-90:]

array([1665659, 1641618, 1641619, 1668059, 1665618, 1700059, 1025659,
        796059,  793659, 2553659,  708059, 1665779, 1028019, 1604059,
       1665658, 1057618,  756059, 1028059, 1025619,  705659,  865658,
       1756059, 1665819, 2465659, 1025839, 1641658, 2556059, 1665619,
        841618,  705658, 1716059,  704059, 2308019, 1001618, 1644058,
       1625659, 1753659, 2441618,  684019, 1644059, 1636059,  708019,
       1004019, 1692059, 1753819, 1001619, 1028459,  964059, 1666059,
       1913659, 1700058, 1116019, 1025658, 1697659, 1988059, 1668239,
       1029659, 2396019, 1625658,  548059, 1753618, 1756058,  897618,
       1646818, 1025859,  956059, 1604239,  964019,  953659, 1641659,
       1649618, 1724059, 1641958,  796019, 1625779, 1641778, 1668219,
       1916059, 1668058, 1601659, 2468059,  681658, 2284019, 1628059,
       1748059, 1628058, 1698059,  545658, 1697658, 1985659])

In [7]:
combos = pd.read_csv('/disk1/jyang4/repos/ALDE/data/ParPgb/all_combos.csv')['Combo'].values
combos

array(['AAAAA', 'AAAAC', 'AAAAD', ..., 'YYYYV', 'YYYYW', 'YYYYY'],
      dtype=object)

In [8]:
proposed = combos[indices[-90:]]
proposed

array(['MKFDY', 'MGFAW', 'MGFAY', 'MKMDY', 'MKFAW', 'MPMDY', 'HKFDY',
       'FYMDY', 'FYFDY', 'SYFDY', 'FKMDY', 'MKFKY', 'HKMAY', 'MAMDY',
       'MKFDW', 'HPFAW', 'FRMDY', 'HKMDY', 'HKFAY', 'FKFDY', 'GKFDW',
       'MYMDY', 'MKFMY', 'SKFDY', 'HKFNY', 'MGFDW', 'SYMDY', 'MKFAY',
       'GGFAW', 'FKFDW', 'MRMDY', 'FKADY', 'RKMAY', 'HGFAW', 'MGMDW',
       'MEFDY', 'MYFDY', 'SGFAW', 'FGMAY', 'MGMDY', 'MFMDY', 'FKMAY',
       'HGMAY', 'MNMDY', 'MYFMY', 'HGFAY', 'HKNDY', 'HAMDY', 'MKGDY',
       'NYFDY', 'MPMDW', 'HYMAY', 'HKFDW', 'MPFDY', 'PKMDY', 'MKMNY',
       'HKRDY', 'RYMAY', 'MEFDW', 'EKMDY', 'MYFAW', 'MYMDW', 'GPFAW',
       'MGVAW', 'HKFPY', 'GYMDY', 'MAMNY', 'HAMAY', 'GYFDY', 'MGFDY',
       'MHFAW', 'MSMDY', 'MGFVW', 'FYMAY', 'MEFKY', 'MGFKW', 'MKMMY',
       'NYMDY', 'MKMDW', 'MAFDY', 'SKMDY', 'FGFDW', 'RGMAY', 'MEMDY',
       'MWMDY', 'MEMDW', 'MPGDY', 'EKFDW', 'MPFDW', 'PKFDY'], dtype=object)

In [9]:
len(proposed)

90

In [10]:
controls_dict = {'A1': ['Sterile', None, None],
                 'H12': ['Sterile', None , None],
                 'C5': ['Parent', 'WYLQF', parent_seq],
                 'D6': ['Parent', 'WYLQF', parent_seq],
                 'E7': ['Parent', 'WYLQF', parent_seq],
                 'F8': ['Parent', 'WYLQF', parent_seq],
                 }

def combo2seq(combo):
    seq = parent_seq
    seq = seq[:55*3] + aa2codon_dict[combo[0]] + aa2codon_dict[combo[1]] + seq[57*3:58*3] + aa2codon_dict[combo[2]] + aa2codon_dict[combo[3]] + seq[60*3:88*3] + aa2codon_dict[combo[4]] + seq[89*3:]
    return seq

Test to make sure it looks ok

In [11]:
test = combo2seq(proposed[0])
len(test)

600

In [12]:
#print the positions where test and parent_seq differ
for i in range(len(test)):
    if test[i] != parent_seq[i]:
        print(i)

165
166
168
170
174
176
177
179
265
266

In [13]:
test[88*3:89*3]

'TAT'

In [14]:
df = pd.DataFrame(columns=['Well', 'Control', 'Combo', 'Seq'])
i = 0
for row in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']:
    for column in range(1, 13):
        well = row + str(column)
        if well in controls_dict.keys():
            control = controls_dict[well][0]
            combo = controls_dict[well][1]
            seq = controls_dict[well][2]
        else:
            control = 'Variant'
            combo = proposed[i]
            seq = combo2seq(combo)
            i += 1
        
        df.loc[len(df.index)] = [well, control, combo, seq]

In [15]:
df

   Well  Control  Combo                                                Seq
0    A1  Sterile   None                                               None
1    A2  Variant  MKFDY  ATGGCGGTTCCCGGCTACGATTTTGGCAAAGTCCCGGATGCCCCAA...
2    A3  Variant  MGFAW  ATGGCGGTTCCCGGCTACGATTTTGGCAAAGTCCCGGATGCCCCAA...
3    A4  Variant  MGFAY  ATGGCGGTTCCCGGCTACGATTTTGGCAAAGTCCCGGATGCCCCAA...
4    A5  Variant  MKMDY  ATGGCGGTTCCCGGCTACGATTTTGGCAAAGTCCCGGATGCCCCAA...
..  ...      ...    ...                                                ...
91   H8  Variant  MPGDY  ATGGCGGTTCCCGGCTACGATTTTGGCAAAGTCCCGGATGCCCCAA...
92   H9  Variant  EKFDW  ATGGCGGTTCCCGGCTACGATTTTGGCAAAGTCCCGGATGCCCCAA...
93  H10  Variant  MPFDW  ATGGCGGTTCCCGGCTACGATTTTGGCAAAGTCCCGGATGCCCCAA...
94  H11  Variant  PKFDY  ATGGCGGTTCCCGGCTACGATTTTGGCAAAGTCCCGGATGCCCCAA...
95  H12  Sterile   None                                               None

[96 rows x 4 columns]

In [17]:
df.to_csv('round2_seqs.csv', index=False)

### TODO: add tails