In [1]:
%cd ~/alde4ssmula

/disk2/fli/alde4ssmula

In [3]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [5]:
import numpy as np
import pandas as pd

In [6]:
# get zs scores for the data
gb1_zs = pd.read_csv('/disk2/fli/SSMuLA/results/zs_comb_5/none/scale2max/all/GB1.csv', index_col=0)
gb1_zs

,AA1,AA2,AA3,AA4,fitness,active,muts,n_mut,ed_score,ed_rank,...,msanoif-comb_score,structnmsa-comb_score,two-best_score,Triad-ev_rank,Triad-esm_rank,struc-comb_rank,msa-comb_rank,msanoif-comb_rank,structnmsa-comb_rank,two-best_rank
AAs,,,,,,,,,,,,,,,,,,,,,
VDGV,V,D,G,V,0.114130,True,WT,0,0,1.0,...,-2.0,-36.0,-18.0,2.0,2.0,14.0,3.0,1.0,2.0,3.0
ADGV,A,D,G,V,0.007066,True,V39A,1,-1,39.5,...,-101.5,-590.5,-287.5,60.0,57.0,165.0,38.0,24.0,49.0,49.0
CDGV,C,D,G,V,0.027646,True,V39C,1,-1,39.5,...,-147.5,-609.5,-391.5,38.0,38.5,155.0,50.0,48.0,50.0,63.0
DDGV,D,D,G,V,0.000739,False,V39D,1,-1,39.5,...,-129.5,-1358.5,-683.5,107.0,129.0,452.0,79.0,38.0,87.0,113.0
EDGV,E,D,G,V,0.003734,True,V39E,1,-1,39.5,...,-116.5,-732.5,-184.5,97.0,102.0,219.0,30.0,32.0,55.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YYYR,Y,Y,Y,R,0.000154,False,V39Y:D40Y:G41Y:V54R,4,-4,88774.5,...,-195394.0,-413322.0,-201464.0,133510.0,123292.0,115591.0,99207.0,100187.0,116897.5,106611.0
YYYS,Y,Y,Y,S,0.000505,False,V39Y:D40Y:G41Y:V54S,4,-4,88774.5,...,-201575.0,-352357.0,-183048.0,103267.0,84951.5,74837.5,92586.0,104540.0,90747.0,93868.0
YYYT,Y,Y,Y,T,0.002420,True,V39Y:D40Y:G41Y:V54T,4,-4,88774.5,...,-199522.0,-325280.0,-166105.0,97336.0,74799.5,58871.0,82706.0,103071.5,78938.0,82433.0
YYYW,Y,Y,Y,W,0.001043,False,V39Y:D40Y:G41Y:V54W,4,-4,88774.5,...,-200007.5,-406671.5,-224545.0,113600.5,97726.0,109104.5,113244.0,103436.5,114152.0,121416.0
YYYY,Y,Y,Y,Y,0.001098,False,V39Y:D40Y:G41Y:V54Y,4,-4,88774.5,...,-190342.0,-396751.0,-220293.0,116220.0,92037.0,108929.0,106259.0,96633.0,110082.0,118978.0

In [7]:
gb1_zs.columns

Index(['AA1', 'AA2', 'AA3', 'AA4', 'fitness', 'active', 'muts', 'n_mut',
       'ed_score', 'ed_rank', 'split', 'seq', 'pos', 'esm_score', 'ev_score',
       'esm_rank', 'ev_rank', 'esmif_score', 'esmif_rank', 'Triad_score',
       'Triad_rank', 'coves_score', 'coves_rank', 'Triad-ev_score',
       'Triad-esm_score', 'struc-comb_score', 'msa-comb_score',
       'msanoif-comb_score', 'structnmsa-comb_score', 'two-best_score',
       'Triad-ev_rank', 'Triad-esm_rank', 'struc-comb_rank', 'msa-comb_rank',
       'msanoif-comb_rank', 'structnmsa-comb_rank', 'two-best_rank'],
      dtype='object')

In [15]:
ft_frac = 0.125
# sort based on zs scores
ft_gb1 = gb1_zs[["fitness", "active", "muts", "n_mut", "ev_score", "ev_rank"]].sort_values(by='ev_rank', ascending=True)[:int(ft_frac*len(gb1_zs))]
ft_gb1

       fitness  active                 muts  n_mut   ev_score  ev_rank
AAs
VDGV  0.114130    True                   WT      0   0.000000      1.0
IDGV  0.165021    True                 V39I      1  -1.567254      2.0
LDGV  0.192898    True                 V39L      1  -2.494141      3.0
SDGV  0.003916    True                 V39S      1  -2.705143      4.0
VEGV  0.098258    True                 D40E      1  -2.936444      5.0
...        ...     ...                  ...    ...        ...      ...
IPEA  0.000118   False  V39I:D40P:G41E:V54A      4 -18.937238  18610.0
IAHA  0.000381   False  V39I:D40A:G41H:V54A      4 -18.937238  18610.0
IPYA  0.007609    True  V39I:D40P:G41Y:V54A      4 -18.937238  18610.0
IMPA  0.000694   False  V39I:D40M:G41P:V54A      4 -18.937238  18610.0
IRHA  0.000823   False  V39I:D40R:G41H:V54A      4 -18.937238  18610.0

[18670 rows x 6 columns]

In [24]:
rng = None
seed = 42
n = 24

if rng is None:
    rng = np.random.default_rng(seed)

# used rng to get n random index from ft_gb1

random_indices = rng.choice(ft_gb1.index, size=n, replace=False)
random_indices

array(['LCGA', 'SGHA', 'VWFI', 'VLLT', 'KEGC', 'QERV', 'KGDV', 'HKGG',
       'MYQV', 'GDAF', 'ISGL', 'ISTP', 'IGYV', 'GVTV', 'LYFG', 'VEWF',
       'LNDK', 'VNPP', 'KHLV', 'VYIA', 'LGWV', 'ENTV', 'VYAT', 'DGTA'],
      dtype=object)

In [19]:
alde_df = pd.read_csv("/disk2/fli/alde4ssmula/data/GB1/fitness.csv")
alde_df

       Combo   fitness
0       VDGV  0.114130
1       ADGV  0.007066
2       CDGV  0.027646
3       DDGV  0.000739
4       EDGV  0.003734
...      ...       ...
149356  YYYR  0.000154
149357  YYYS  0.000505
149358  YYYT  0.002420
149359  YYYW  0.001043
149360  YYYY  0.001098

[149361 rows x 2 columns]

In [25]:
alde_df[alde_df['Combo'].isin(random_indices)]

       Combo   fitness
5585    ENTV  0.000462
7006    GDAF  0.000120
7905    GVTV  0.000067
8596    HKGG  0.007349
9563    IGYV  0.002040
9917    ISGL  0.135650
10524   KEGC  0.049288
10595   KGDV  0.000345
10657   KHLV  0.001093
11199   LCGA  0.174364
11688   LGWV  0.000659
13269   MYQV  0.000000
15827   QERV  0.000194
20534   VEWF  0.000000
22440   VLLT  0.082685
23183   VNPP  0.000073
25449   VWFI  0.005824
25728   VYAT  0.038340
25821   VYIA  0.000562
40421   DGTA  0.000000
75813   ISTP  0.000248
87404   LNDK  0.000288
90241   LYFG  0.277409
124867  SGHA  0.000000

In [23]:
# find AAs in random_indices their inds in alde_df Combo column
combo_inds = alde_df[alde_df['Combo'].isin(random_indices)].index
combo_inds

Int64Index([  5585,   7006,   7905,   8596,   9563,   9917,  10524,  10595,
             10657,  11199,  11688,  13269,  15827,  20534,  22440,  23183,
             25449,  25728,  25821,  40421,  75813,  87404,  90241, 124867],
           dtype='int64')

In [ ]:
# add
def samp_discrete(
    n: int,
    objective: Objective,
    seed: int,
    ft_frac: float,
    zs_csv_path: str,
    alde_csv_path: str,
    rng: np.random.Generator | None = None,
    zs: str | None = None,
) -> tuple[torch.Tensor, torch.Tensor]:
    X, y = objective.get_points()
    if rng is None:
        rng = np.random.default_rng(seed)

    if zs is None:
        inds = np.sort(rng.choice(len(X), size=n))
    else:
        zs_df = pd.read_csv(zs_csv_path)
        # set AA column as index
        if "AAs" in zs_df.columns:
            zs_df = zs_df.set_index("AAs")
        elif "Combo" in zs_df.columns:
            zs_df = zs_df.set_index("Combo")
        else:
            raise ValueError("No column named AAs or Combos in the zs_df")

        # select the top ft_frac of the data
        ft_df = zs_df.sort_values(by=f"{zs}_rank", ascending=True)[
            : int(ft_frac * len(zs_df))
        ]
        # get the indices of the selected data
        random_indices = rng.choice(ft_df.index, size=n, replace=False)

        alde_df = pd.read_csv(alde_csv_path)
        inds = alde_df[alde_df["Combo"].isin(random_indices)].index

    return X[inds], y[inds], torch.tensor(inds)